.table td {
    vertical-align: middle!important;
}

.table {
    fill: #bbc1c161;
}

.tick line {
    color: #c1caca;
    stroke-dasharray: 2px;
}

table {
    white-space: nowrap;
}

.alignbox:hover {
    fill: #979c9c9b;
    ;
    stroke: #979c9c9b;
    stroke-width: 1px;
}

.m {
    stroke: #e34a33;
}

.s {
    stroke: #4575b4;
}

.q {
    stroke: #7fbc41;
}

.other {
    fill: #99D8C9;
    stroke-width: 0px;
    stroke: #99D8C9;
}

.args {
    fill: #a50f15;
    stroke-width: 0px;
    stroke: #a50f15;
}

.hypothetical {
    background-color: #FEE08B!important;
}

.transposase {
    fill: #225EA8;
    stroke-width: 0px;
    stroke: #225EA8;
}

.isel {
    fill: #1D91C0;
    stroke-width: 0px;
    stroke: #1D91C0;
}

.integrase {
    fill: #41AB5D;
    stroke-width: 0px;
    stroke: #41AB5D;
}

.virulence {
    fill: #BF812D;
    stroke-width: 0px;
    stroke: #BF812D;
}

.biocidemetal {
    fill: #FD8D3C;
    stroke-width: 0;
    stroke: #FD8D3C;
}

.unknown {
    fill: #969696;
    stroke-width: 0px;
    stroke: #969696;
}

.axis {
    stroke-width: 0.5px;
    stroke: #888;
    font: 7px avenir next, sans-serif;
}

.axis>path {
    stroke: #888;
}

.orfLbl {
    fill: #fff;
    font-size: 10px;
    mix-blend-mode: difference;
}

.tick>line {
    stroke-dasharray: 1.2;
}